<!-- <mat-form-field floatLabel="never">
    <mat-label>Search Movie...</mat-label>
    <input matInput type="text" [(ngModel)]="query"
      (keyup)="loading = true; releaseYear = 1900; movies = []; getMovies(0)">
  </mat-form-field> -->

<h1>{{pageTitle}}</h1>

<ul>
    <li>
        <a routerLink="recent-releases" class="tooltip" (click)="ytsService.query='';showSearch=false">
            <span class="tooltiptext">Recent Releases</span>
            <img src="assets/images/recent.svg">
        </a>
    </li>
    <li>
        <a routerLink="most-downloaded" class="tooltip" (click)="ytsService.query='';showSearch=false">
            <span class="tooltiptext">Most Downloaded</span>
            <img src="assets/images/download.svg">
        </a>
    </li>
    <li>
        <a routerLink="favorites" class="tooltip" (click)="ytsService.query='';showSearch=false">
            <span class="tooltiptext">Favorites</span>
            <img src="assets/images/fav-full.svg">
        </a>
    </li>
    <li>
        <a routerLink="settings" class="tooltip" (click)="ytsService.query='';showSearch=false">
            <span class="tooltiptext">Settings</span>
            <img src="assets/images/cog.svg">
        </a>
    </li>
    <li>
        <a routerLink="search" class="tooltip">
            <span class="tooltiptext">Search</span>
            <input #searchElement type="text" [ngClass]="{'hide': !showSearch}" [(ngModel)]="ytsService.query"
                (keyup)="ytsService.movies=[];ytsService.page=0;ytsService.movieCount=-1;ytsService.getMovies()">
            <img src="assets/images/search.svg" (click)="showSearch=!showSearch;searchElement.focus()">
        </a>
    </li>
</ul>