<h1>{{pageTitle}}</h1>

<ul>
    <li>
        <a routerLink="recent-releases" (click)="ytsService.query=''">
            <img src="assets/images/recent.svg">
        </a>
    </li>
    <li>
        <a routerLink="most-downloaded" (click)="ytsService.query=''">
            <img src="assets/images/download.svg">
        </a>
    </li>
    <li>
        <a routerLink="favorites" (click)="ytsService.query=''">
            <img src="assets/images/fav-full.svg">
        </a>
    </li>
    <li>
        <a routerLink="settings" (click)="ytsService.query=''">
            <img src="assets/images/cog.svg">
        </a>
    </li>
    <li>
        <a (click)="showSearch=true;searchElement.focus()">
            <img src="assets/images/search.svg">
        </a>
    </li>
</ul>


<div class="search-container" [ngClass]="{'hide': !showSearch}">
    <input class="search" #searchElement type="text" (blur)="showSearch=false" [(ngModel)]="ytsService.query"
        (keyup)="ytsService.$search.next(null)" (mousemove)="showSearch=true;searchElement.focus()"
        (mouseout)="showSearch=false">
    <img class="close-icon" src="assets/images/close.svg" (mousemove)="showSearch=true;searchElement.focus()"
        (click)="showSearch=false">
</div>