:host {
    background: #1e1e1e;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 2px 3px 11px 2px #000000a8;
    align-items: center;
    padding: 15px;

    h1 {
        margin: 0;
        font-size: 22px;
        color: #D8D8D8;
        text-transform: capitalize;
        font-weight: normal;

        @media only screen and (max-width: 600px) {
            font-size: 16px;
        }
    }
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    justify-content: flex-end;

    li {
        margin: 0 10px;

        @media only screen and (max-width: 600px) {
            margin: 0 5px;
        }

        a {
            display: flex;
            align-items: center;

            img {
                height: 24px;
                cursor: pointer;

                @media only screen and (max-width: 600px) {
                    height: 20px;
                }
            }
        }
    }
}



.search {
    background: black;
    border: 1px solid #d8d8d845;
    color: #D8D8D8;
    padding: 20px 15px;
    transition: 200ms all ease-in;
    opacity: 1;
    position: absolute;
    right: 0px;
    left: 0px;
    font-size: 22px;
    pointer-events: all;
    outline: none;

    &::placeholder {
        font-family: Roboto, "Helvetica Neue", sans-serif;

        @media only screen and (max-width: 600px) {
            font-size: 16px;
        }
    }

    @media only screen and (max-width: 600px) {
        padding: 15px;
    }

    &.hide {
        opacity: 0;
        pointer-events: none;
    }
}

.search-container {
    top: -5px;
    left: -1px;
    right: -1px;
    position: absolute;


    &.hide {
        opacity: 0;
        top: -100px;
        pointer-events: none;
    }

    .close-icon {
        position: absolute;
        z-index: 1;
        top: 20px;
        right: 26px;
        height: 24px;
        cursor: pointer;

        @media only screen and (max-width: 600px) {
            right: 21px;
            height: 20px;
        }
    }
}