:host {
    background: #1e1e1e;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 2px 3px 11px 2px #000000a8;
    align-items: center;

    h1 {
        margin: 0;
        font-size: 26px;
        color: #D8D8D8;
        text-transform: capitalize;
        padding-left: 15px;
        font-weight: normal;
    }
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px;
    justify-content: end;

    li {
        margin: 0 4px;

        a {
            display: flex;
            align-items: center;

            img {
                height: 20px;
            }
        }
    }
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 7px 7px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 22px;
    min-width: 90px;
    font-size: 10px;
    right: -10px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

input {
    background: black;
    border: 1px solid #D8D8D8;
    color: #D8D8D8;
    border-radius: 5px;
    padding: 2px 5px;
    margin-right: 11px;
    transition: 200ms all ease-in;
    max-width: 150px;
    opacity: 1;

    &.hide {
        max-width: 0;
        opacity: 0;
        margin: 0;
        padding: 2px 0;
    }
}