:host {
    background: #1e1e1e;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 2px 3px 11px 2px #000000a8;
    align-items: center;
    padding: 15px;

    h1 {
        margin: 0;
        font-size: 24px;
        color: #D8D8D8;
        text-transform: capitalize;
        font-weight: normal;

        @media only screen and (max-width: 600px) {
            font-size: 16px;
        }
    }
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    justify-content: end;

    li {
        margin: 0 10px;

        @media only screen and (max-width: 600px) {
            margin: 0 5px;
        }

        a {
            display: flex;
            align-items: center;

            img {
                height: 24px;

                @media only screen and (max-width: 600px) {
                    height: 20px;
                }
            }
        }
    }
}

.search-icon {
    position: relative;
    z-index: 1;
}

.search {
    background: black;
    border: 1px solid #d8d8d845;
    color: #D8D8D8;
    padding: 20px 15px;
    transition: 200ms all ease-in;
    opacity: 1;
    position: absolute;
    right: 0px;
    left: 0px;
    font-size: 18px;
    pointer-events: all;
    outline: none;

    &.hide {
        opacity: 0;
        pointer-events: none;
    }
}