@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

img {
    animation: spin 2s infinite linear;
    width: 50px;
    margin: 25px;
}

:host {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}