<div class="movies">
  <div *ngFor="let movie of movies" class="movie_card" id="{{movie.id}}" [ngClass]="{'flipped': movie.flip}">
    <div class="front">
      <img src="{{movie.large_cover_image}}" (click)="movie.flip=true" />
    </div>
    <div class="back">
      <div class="back-btn" (click)="movie.flip=false">
        &#8249;
      </div>
      <div class="info_section">
        <div class="movie_header">
          <h1>{{movie.title}}</h1>
          <h4>{{movie.year}}, {{movie.rating}}, {{movie.date_uploaded}}</h4>
          <span class="minutes">{{movie.runtime}} Min</span>
          <p class="type">{{movie.genres}}</p>
        </div>
        <div class="movie_desc">
          <p class="text" [innerHTML]="movie.description_full">
          </p>
        </div>
        <a class="magnet"
          [href]="getMagnet(movie)">
          download
        </a>
      </div>
      <div class="blur_back" [ngStyle]="{'background-image': 'url(' + movie.background_image + ')'}"></div>
    </div>
  </div>
</div>