mat-drawer-container {
    width: 100%;
    height: calc(100vh - 64px);

    ::ng-deep {
        .mat-list-text {
            align-items: center;
            flex-direction: row !important;
        }

        mat-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 5px !important;
            margin-left: -5px !important;
        }
    }
}