

@media only screen and (max-width: 1200px) {
    .movie_card {
        width: 30%;
    }
}

@media only screen and (max-width: 1000px) {
    .movie_card {
        width: 40%;
    }
}

@media only screen and (max-width: 512px) {
    .movie_card {
        width: 100%;
    }
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.loader-spinner {
    width: 150px;
    height: 150px;

    svg {
        width: 90%;
        fill: none;
    }
}

.load {
    transform-origin: 50% 50%;
    stroke-dasharray: 0.7 0.3;
    stroke-linecap: round;
    stroke-width: 3px;
    stroke: #dbdbdb;

    &.one {
        animation: load 1.5s infinite ease-in;
        animation-direction: reverse;
    }

    &.two {
        fill: #dbdbdb;
    }

    &.three {
        animation: load 1.5s infinite;
    }
}

@keyframes load {
    100% {
        transform: rotate(360deg);
    }
}

.example-spacer {
    flex: 1 1 auto;
}

mat-drawer-container {
    width: 100%;
    height: calc(100vh - 64px);

    ::ng-deep {
        .mat-list-text {
            align-items: center;
            flex-direction: row !important;
        }

        mat-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 5px !important;
            margin-left: -5px !important;
        }
    }
}
