html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #3a3a3a;
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #545454;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1e1e1e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0c0c0c;
}