:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &>div {
        max-width: 400px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}

progress {
    border-radius: 7px;
    width: 80%;
    height: 22px;
    margin-left: -11.5%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

progress::-webkit-progress-bar {
    background-color: yellow;
    border-radius: 7px;
}

progress::-webkit-progress-value {
    background-color: blue;
    border-radius: 7px;
    box-shadow: 1px 1px 5px 3px rgba(255, 0, 0, 0.8);
}

progress::-moz-progress-bar {
    /* style rules */
}