<div>

    <mat-slide-toggle>Show only 1080p</mat-slide-toggle>
    <mat-slide-toggle>Dark Theme</mat-slide-toggle>

    <mat-form-field>
        <mat-label>Don't show movies older then</mat-label>

        <input type="number" matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Hide movies with a rating score lower than</mat-label>
        <select matNativeControl>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </mat-form-field>
</div>